@charset "UTF-8";
.c {
  margin-top: 200px;
}
.c2 {
	margin-top: 210px;
}
.f {
	font-family: 'Kanit', sans-serif;	
}
.v {
	margin-top: 190px;	
}
.fs{
	margin-top: 19px;
}
.f2{
	font-family: 'KoHo', sans-serif;
}
.m{
	margin-left: 280px;
}
h3{
	font-family: 'Kanit', sans-serif;	
}	
h5{
	font-family: 'KoHo', sans-serif;
}	
.one {
  transition: all 0.3s ease-in;
}
.one:hover {
  transform: scale3d(1.2,1.2,5);
}
.thead-g {
    background-color: #07ba61;
}